.checklist-main {
    background-color: #312f67;
    color: white;
    border: 1px solid #b0a0dc;
    padding: 20px;
    font-size: 14px;
    text-align: left;
  }
  
  .checklist-main ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .checklist-main li {
    line-height: 1.6;
  }

  .checklist-main li::before {
    content: '✅';
    margin-right: 8px;
  }
  