.step1-main {
    display: flex;
    /* justify-content:  space-evenly; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    margin-top: 100px;
    gap: 40px;
  }

  .input-email, .btn-connect {
    width: 90%;
    padding: 12px;
    font-size: 14px;
  }

  .services-privacy{
    font-size: 12px;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    line-height: 1.9;
  }

  a {
    color: #5bb6dd;
    text-decoration: none;
  }

  .error {
    color:red;
  }