* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui;
  line-height: 1.5;
}


body {
  min-height: 100vh;
  background: radial-gradient(
  circle at top left,
  rgba(78, 132, 126, 1) 3%,
  rgba(51, 44, 91, 1) 20%,
  rgba(59, 47, 96, 1) 100%
  );
}


.checklist-main {
  background-color: #312f67;
  color: white;
  font-size: 14px;
  text-align: left;
  width: 100%;
  margin-bottom: 50px;
}

.checklist-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.checklist-main li {
  line-height: 1.6;
  border: 1px solid #b0a0dc;
  padding: 12px;

}

.checklist-main li::before {
  content: '✅';
  margin-right: 8px;
}



button {
  border-radius: 5px;
  border: 1px solid ;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #b0a0dc;
  cursor: pointer;
}

/* Desktop */
@media (min-width: 768px) {
  body {
    background: radial-gradient(
      circle at bottom left,
      rgba(78, 132, 126, 1) 3%,
      rgba(51, 44, 91, 1) 20%,
      rgba(59, 47, 96, 1) 100%
    );
  }
}
